@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
	--dark-cyan: hsl(185, 75%, 39%);
	--dark-blue: hsl(229, 23%, 23%);
	--dark-grayish: hsl(227, 10%, 46%);
	--dark-gray: hsl(0, 0%, 59%);
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html{
	font-family: 'Kumbh Sans', sans-serif;
	height: 100%;
}

.container{
	position: relative;
	background-color: var(--dark-cyan);
	height: 100vh;
	overflow: hidden;
}

.bg-ballon-top{
	position: absolute;
	top: -75%;
	right: 50%;
	z-index: 9;
}

.bg-ballon-bottom{
	position: absolute;
	bottom: -87%;
	left: 50%;
	z-index: 9;
}

.card{
	position: relative;
	z-index: 10;
	width: 350px;
	height: 375px;
	background-color: #fff;
	border-radius: 15px;
	background-image: url('images/bg-pattern-card.svg');
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.content{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.img-profile img{
	max-width: 100%;
	border-radius: 50%;
	border: solid 5px solid #fff;
}

.name-profile{
	font-size: 17px;
	font-weight: 700;
	color: var(--dark-blue);
	padding-top: 1rem;
}

.age-profile{
	color: var(--dark-grayish);
	font-weight: 400;
	padding-left: .4rem;
}

.city-profile{
	color: var(--dark-gray);
	font-size: 14px;
	font-weight: 400;
	padding-top: .5rem;
	margin-bottom: 1rem;
}

.footer-profile{
	position: absolute;
	bottom: 0;
	border-top: 1px solid lightgray;
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.item{
	display: flex;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.number{
	font-weight: 700;
	font-size: 20px;
	color: var(--dark-blue);
	margin-bottom: .4rem;
}

.description{
	font-weight: 400;
	font-size: 14px;
	color: var(--dark-grayish);
	letter-spacing: 2px;
}